* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.618; /* based on https://medium.com/@zkareemz/golden-ratio-62b3b6d4282a; */
    -webkit-text-size-adjust: 100%;
}

.main {
    display: flex;
    justify-content: center;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-p {
    margin: 0;
}

.title {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10px
}

.side {
    max-width: 1000px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-text {
    width: 100%;
    border: 1px;
    border-radius: 2px;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    border-color: var(--border-primary-color);
    border-style: solid;
}

.output-text {
    border: 1px;
    border-radius: 3px;
    width: 100%;
    height: 400px;
    resize: none;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    border-color: var(--border-primary-color);
    border-style: solid;
}

.style_btn {
    width: 100%;
    height: 50px;
    background-color: var(--button-bg-color);
    border: 1px
    solid var(--border-primary-color);
    border-radius: 6px;
    margin-bottom: 25px;
}

.style_btn:hover {
    background-color: var(--button-bg-hover-color);
}

.style_btn:active {
    background-color: var(--button-bg-active-color);
}